@import "tailwindcss";
@import "@fontsource/mulish";

@theme {
  --font-sans: Mulish, sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: #0f1923;
  color: #fff;
  margin: 0;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a2c38;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #364b5f;
}
